body {
  margin:0;
  padding:50px;
  box-sizing:border-box;
}
h6 {font-size:1.2rem; margin:0.5em 0;}
input[type="file"] {
  border:1px solid black;
  background:#ffe;
  width:100%;
  height:100px;
  padding:20px;
  box-sizing:border-box;
  margin-bottom:20px;
}
.container {
  display:none;
  width:100%;
  border:1px solid black;
  background:#fdfdfd;
  padding:20px;
  box-sizing:border-box;
  margin: 20px auto;
  overflow:auto;
  font-family:monospace;
}
#raw,#transform {
  white-space:nowrap;
}
#radio-dump-raw:checked ~ #dump-raw,
#radio-dump-transform:checked ~ #dump-transform,
#radio-raw:checked ~ #raw,
#radio-transform:checked ~ #transform {
  display:block;
}
#result {
  display:none;
}
#result.show {
  display:block;
}
#save-raw, #save-transform {
  display:inline-block;
  margin:0px 0px 20px 0px;
  padding:10px;
  width: 200px;
  text-align:center;
  background:orange;
  color:white;
  text-decoration:none;
}
table tr:hover td {
  background:lightyellow;
}
table td {
  border-bottom:1px solid #eee;
}
